.sidebar-container {
	--sidebar-width: 160px;
	--sidepar-page-height: 60px;
}

.sidebar-button {
	--button-size: 33px;
	z-index: 2;
	position: fixed;
	top: 10px;
	left: 10px;
	color: var(--primary-color);
	font-size: var(--button-size);
	text-align: center;
	width: calc(var(--button-size) + 8px);
	height: calc(var(--button-size) + 8px);
	background-color: var(--secondary-bg-color);
	border-radius: 25%;
}

.sidebar-button > svg {
	--centering-offset: -1px;
	position: relative;
	top: calc(50% + var(--centering-offset));
	transform: translateY(-50%);
}

.sidebar-button:hover {
	color: var(--primary-color-hover);
}

.sidebar {
	overflow: hidden;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	transition: right 200ms var(--default-timing-func);
	position: fixed;
	top: 0px;
	right: 100%;
	height: 100%;
	width: var(--sidebar-width);
	background-color: var(--secondary-bg-color);
}

.sidebar.shown {
	right: calc(100% - var(--sidebar-width));
}

.sidebar-top {
	width: 100%;
	height: 40px;
	font-size: 26px;
	text-align: center;
}

.sidebar-top-title {
	position: relative;
	--title-y-offset: -3px;
	--title-x-offset: 30px;
	top: calc(50% + var(--title-y-offset));
	transform: translateY(-50%);
	margin-left: var(--title-x-offset);
}

.sidebar-items {
	--top-margin: 30px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 100%;
	margin-top: var(--top-margin);
}

.sidebar-item {
	background-color: var(--secondary-bg-color);
	border-radius: 25vh;
	padding: 10px;
}

.sidebar-item:hover {
	color: var(--primary-color-hover);
}

.sidebar > .sidebar-item {
	color: var(--primary-color);
	margin-left: 20px;
}

.sidebar :is(.sidebar-item, .sidebar-top-title) + .sidebar-item {
	margin-top: 30px;
}

.sidebar-filler {
	--sidebar-filler-width: calc(100% - var(--sidebar-width));
	transition: left 300ms var(--default-timing-func);
	position: fixed;
	top: 0px;
	left: calc(-1 * var(--sidebar-filler-width));
	width: var(--sidebar-filler-width);
	height: 100%;
}

.sidebar.shown ~ .sidebar-filler {
	left: var(--sidebar-width);
}

.sidebar-background {
	background-color: var(--tertiary-bg-color);
}

.sidebar-page {
	display: none;
	background-color: var(--tertiary-bg-color);
	border-color: var(--tertiary-bg-color);
	margin: 0px;
	outline: none;
	border: none;
	height: 100%;
}

.sidebar-page.shown {
	display: block;
}

.sidebar-page-title {
	--title-margin: calc(var(--sidepar-page-height) / 2);
	--underscore-height: 3px;
	margin: calc(var(--title-margin) / 2) 0px;
	font-size: calc(
		var(--sidepar-page-height) - var(--underscore-height) - var(--title-margin)
	);
	text-align: center;
}

.about-description-container {
	padding: 0px 20px;
}
