<!DOCTYPE html>
<html>
	<head>
		<title>Anxiety Journal</title>
		<link rel="stylesheet" type="text/css" media="screen" href="index.css" />
		<script
			src="https://kit.fontawesome.com/cfa5b36771.js"
			crossorigin="anonymous"
		></script>
		<script src="set-exports.js"></script>
		<script src="index.js"></script>
	</head>
	<body onload="OnLoad()">
		<h1 class="title">Anxiety Journal</h1>
		<div class="sidebar-container">
			<div class="sidebar">
				<div class="sidebar-top">
					<span class="sidebar-top-title">Menu</span>
				</div>
				<div onclick="OnJournalClick()">
					<i class="fas fa-book"></i>
					<span>Journal</span>
				</div>
				<div onclick="OnExportClick()">
					<i class="fas fa-file-export"></i>
					<span>Export</span>
				</div>
			</div>
			<div class="sidebar-filler sidebar-background"></div>
			<iframe
				class="sidebar-filler sidebar-page"
				src="./Default/default.html"
			></iframe>
			<div class="sidebar-button" onclick="OnSidebarButtonClick()">
				<i class="fas fa-bars"></i>
			</div>
		</div>
		<div class="fields">
			<div
				onfocus="OnBoxFocus(this)"
				onblur="OnBoxBlur(this)"
				class="field-box input-box task-box"
				role="textbox"
				contenteditable="true"
				placeholder="What did you do today?"
			></div>
			<div class="field anxiety-slider-container">
				<span role="text" class="anxiety-slider-title"
					>How bad was your anxiety?</span
				>
				<input
					oninput="OnSliderChange(this)"
					class="anxiety-slider"
					type="range"
					min="0"
					max="10"
					value="5"
				/>
				<span role="text" class="anxiety-slider-value ceiling-underscore"
					>5</span
				>
			</div>
			<div
				onfocus="OnBoxFocus(this)"
				onblur="OnBoxBlur(this)"
				class="field-box input-box note-box"
				role="textbox"
				contenteditable="true"
				placeholder="Is there anything else you'd like to add? :)"
			></div>
			<div class="field submit-button" onclick="OnSubmitClick()">
				<i class="fas fa-check"></i>
			</div>
		</div>
		<footer>
			<div class="fortune-cookie">
				<span class="fortune-cookie-text">Test test 123</span>
			</div>
		</footer>
	</body>
</html>
