.journal-grid {
	display: flex;
	flex-direction: column;
	place-items: center center;
}

.journal-item {
	display: flex;
	flex-direction: column;
	place-items: center flex-start;
	border: 2px solid var(--secondary-bg-color);
	border-radius: 4px;
	margin-bottom: 5px;
	padding: 5px;
	min-width: 33%;
	text-align: center;
}

.journal-item > * {
	width: 100%;
	border-bottom: 3px;
}

.journal-item-title {
	margin: 10px 0px;
	font-weight: 500;
}

.journal-item-difficulty {
	position: relative;
	top: 0;
	right: 0;
	font-size: 2em;
	font-weight: 400;
}

.journal-item-note {
	font-weight: 300;
}
