.journal-grid {
	--grid-top-padding: 20px;
	display: flex;
	flex-direction: column;
	place-items: center center;
	padding-top: var(--grid-top-padding);
	width: 100%;

	height: calc(100% - 97px);
	overflow-y: scroll;
	overflow-x: visible;
}

.journal-item {
	position: relative;
	border: 2px solid var(--secondary-bg-color);
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 5px 10px;
	min-width: 33%;
	max-width: 85%;
	text-align: center;
}

.journal-item-fields {
	display: flex;
	flex-direction: column;
	place-items: center flex-start;
}

.journal-item > * {
	border-bottom: 3px;
}

.journal-item-close {
	--close-x-size: 25px;
	--close-size: calc(var(--close-x-size) + 8px);
	position: absolute;
	top: calc(-1 * var(--close-size) / 2);
	right: calc(-1 * var(--close-size) / 2);
	transition-property: background-color;
	transition-duration: 200ms;
	width: var(--close-size);
	height: var(--close-size);
	background-color: var(--tertiary-bg-color);
	border-radius: 50%;
	border: 2px solid var(--secondary-bg-color);
}

.journal-item-close:hover {
	background-color: var(--primary-color);
}

.journal-item-close i {
	transition-property: color;
	transition-duration: 100ms;
	color: var(--secondary-bg-color);
	text-align: center;
	font-size: var(--close-x-size);
	line-height: var(--close-size);
}

.journal-item-title {
	margin: 10px 0px;
	margin-bottom: 0px;
	font-weight: 500;
}

.journal-item-date {
	margin-top: 5px;
	font-weight: 400;
}

.journal-item-difficulty {
	--diff-text-height: 2ch;
	--diff-text-width: 2ch;
	position: relative;
	top: 0;
	left: calc(50% - var(--diff-text-width) / 2);
	border: 2px solid var(--secondary-bg-color);
	border-radius: 40vh;
	height: var(--diff-text-height);
	line-height: calc(7px + var(--diff-text-height));
	width: var(--diff-text-width);
	font-size: 2em;
	font-weight: 400;
	margin-top: 6px;
}

.journal-item-note {
	font-weight: 300;
	margin-bottom: 6px;
}
