.journal-grid {
	display: flex;
	flex-direction: column;
	place-items: center center;
}

.journal-item {
	border: 2px solid var(--secondary-bg-color);
	border-radius: 4px;
	margin-bottom: 5px;
	padding: 5px;
	min-width: 33%;
	text-align: center;
	overflow: hidden;
}

.journal-item-fields {
	display: flex;
	flex-direction: column;
	place-items: center flex-start;
}

.journal-item > * {
	width: 100%;
	border-bottom: 3px;
}

.journal-item-title {
	margin: 10px 0px;
	font-weight: 500;
}

.journal-item-difficulty {
	--diff-text-height: 2ch;
	--diff-text-width: 2ch;
	position: relative;
	top: 0;
	left: calc(50% - var(--diff-text-width) / 2);
	border: 2px solid var(--secondary-bg-color);
	border-radius: 40vh;
	height: var(--diff-text-height);
	line-height: calc(7px + var(--diff-text-height));
	width: var(--diff-text-width);
	font-size: 2em;
	font-weight: 400;
	margin-top: 6px;
}

.journal-item-note {
	font-weight: 300;
}
