:root {
	--primary-bg-color: hsl(250, 52%, 18%);
	--secondary-bg-color: hsl(250, 52%, 25%);
	--tertiary-bg-color: hsl(250, 52%, 30%);
	--primary-color: hsl(250, 77%, 62%);
	--primary-font: 500 18px "Josefin Sans";
	--default-timing-func: cubic-bezier(0.65, 0.08, 0.24, 1);

	background-color: var(--primary-bg-color);
	font: var(--primary-font);
	color: var(--primary-color);
}

[onclick] {
	cursor: pointer;
}

:where(.underscore)::after {
	content: "";
	--width: 2ch;
	display: block;
	position: relative;
	left: calc(50% - var(--width) / 2);
	width: var(--width);
	height: 2px;
	background-color: var(--primary-color);
}

:where(.ceiling-underscore)::after {
	content: "";
	--width: 2ch;
	display: block;
	position: relative;
	width: var(--width);
	left: calc(50% - var(--width) / 2);
	bottom: calc(1em + 5px);
	height: 2px;
	background-color: var(--primary-color);
}

.title {
	user-select: none;
	font-size: 3rem;
	text-align: center;
	background: hsl(250, 47%, 44%);
	background: linear-gradient(
		0deg,
		hsl(250, 52%, 18%) 5%,
		hsl(250, 52%, 18%) 15%,
		hsl(250, 50%, 28%) 35%,
		var(--primary-color) 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.sidebar-container {
	--sidebar-width: 160px;
}

.sidebar-button {
	--button-size: 33px;
	z-index: 2;
	position: fixed;
	top: 10px;
	left: 10px;
	color: var(--primary-color);
	font-size: var(--button-size);
	text-align: center;
	width: calc(var(--button-size) + 8px);
	height: calc(var(--button-size) + 8px);
	background-color: var(--secondary-bg-color);
	border-radius: 25%;
}

.sidebar-button > i {
	--centering-offset: -1px;
	position: relative;
	top: calc(50% + var(--centering-offset));
	transform: translateY(-50%);
}

.sidebar-button:hover {
	filter: brightness(120%);
}

.sidebar {
	overflow: hidden;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	transition: right 200ms var(--default-timing-func);
	position: fixed;
	top: 0px;
	right: 100%;
	height: 100%;
	width: var(--sidebar-width);
	background-color: var(--secondary-bg-color);
}

.sidebar.shown {
	right: calc(100% - var(--sidebar-width));
}

.sidebar-top {
	width: 100%;
	height: 40px;
	font-size: 26px;
	text-align: center;
}

.sidebar-top-title {
	position: relative;
	--title-y-offset: -3px;
	--title-x-offset: 30px;
	top: calc(50% + var(--title-y-offset));
	transform: translateY(-50%);
	margin-left: var(--title-x-offset);
}

.sidebar-items {
	--top-margin: 30px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 100%;
	margin-top: var(--top-margin);
}

.sidebar-item {
	background-color: var(--secondary-bg-color);
	border-radius: 25vh;
	padding: 10px;
}

.sidebar-item:hover {
	filter: brightness(120%);
}

.sidebar > .sidebar-item {
	color: var(--primary-color);
	margin-left: 20px;
}

.sidebar :is(.sidebar-item, .sidebar-top-title) + .sidebar-item {
	margin-top: 30px;
}

.sidebar-filler {
	--sidebar-filler-width: calc(100% - var(--sidebar-width));
	transition: left 300ms var(--default-timing-func);
	position: fixed;
	top: 0px;
	left: calc(-1 * var(--sidebar-filler-width));
	width: var(--sidebar-filler-width);
	height: 100%;
}

.sidebar.shown ~ .sidebar-filler {
	left: var(--sidebar-width);
}

.sidebar-background {
	background-color: var(--tertiary-bg-color);
}

.sidebar-page {
	display: none;
	background-color: var(--tertiary-bg-color);
	border-color: var(--tertiary-bg-color);
	margin: 0px;
	outline: none;
	border: none;
	height: 100%;
}

.sidebar-page.shown {
	display: block;
}

.sidebar-page-title {
	font-size: 1.8rem;
	text-align: center;
}

.about-description-container {
	padding: 0px 20px;
}

.fields {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.field {
	font: var(--primary-font);
	color: var(--primary-color);
}

.field-box {
	font: var(--primary-font);
	color: var(--primary-color);
	background-color: var(--primary-bg-color);
	border: 2px solid var(--primary-color);
	border-radius: 3px;
}

:where(.field, .field-box) + :where(.field, .field-box) {
	margin-top: 50px;
}

.input-box {
	outline: 0;
	width: 50%;
	padding: 9px;
	max-width: fit-content;
	color: var(--primary-color);
}

.anxiety-slider-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: max-content;
}

.anxiety-slider-title {
	user-select: none;
	font: var(--primary-font);
	text-align: center;
}

.anxiety-slider-value {
	user-select: none;
	font: var(--primary-font);
	font-weight: 400;
	text-align: center;
	margin-top: 5px;
	z-index: -1;
}

.anxiety-slider {
	--slider-border: 2px;
	appearance: none;
	display: flex;
	align-self: center;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
	flex-direction: row;
	width: 40%;
	height: 30px;
	outline: none;
	background-color: var(--primary-bg-color);
	border: var(--slider-border) solid var(--primary-color);
	border-radius: 3px;
}

.anxiety-slider::-webkit-slider-thumb {
	transition-property: transform, filter;
	transition-duration: 65ms;
	transition-timing-function: var(--default-timing-func);
	appearance: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--primary-color);
}

.anxiety-slider::-webkit-slider-thumb:hover {
	filter: brightness(120%);
	transform: scale(1.3);
}

.anxiety-slider::before {
	content: "0";
	--width: 2ch;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100% - 4px);
	min-width: var(--width);
	max-width: var(--width);
	align-self: flex-start;
	font: var(--primary-font);
	text-align: center;
	line-height: 100%;
	color: var(--primary-color);
	border-right: var(--slider-border) solid var(--primary-color);
	margin-right: 5px;
	padding: 2px 4px;
}

.anxiety-slider::after {
	content: "10";
	--width: 2ch;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100% - 4px);
	min-width: var(--width);
	max-width: var(--width);
	align-self: flex-end;
	font: var(--primary-font);
	text-align: center;
	line-height: 100%;
	color: var(--primary-color);
	border-left: var(--slider-border) solid var(--primary-color);
	margin-left: 5px;
	padding: 2px 4px;
}

.submit-button {
	transition: transform 65ms var(--default-timing-func);
	display: flex;
	--button-size: 70px;
	outline: 0;
	min-width: var(--button-size);
	min-height: var(--button-size);
	max-width: var(--button-size);
	max-height: var(--button-size);
	border: 2px solid var(--primary-color);
	border-radius: 50%;
	font-size: calc(70px / 2.5);
}

.submit-button:hover {
	transform: scale(1.2);
	filter: brightness(120%);
}

@keyframes submit-animation {
	0% {
		color: var(--primary-color);
		border-color: var(--primary-color);
		box-shadow: none;
	}
	50% {
		color: hsl(120, 39%, 47%);
		border-color: hsl(120, 39%, 47%);
		box-shadow: 0px 0px 3px 2px hsl(120, 39%, 47%);
	}
	100% {
		color: var(--primary-color);
		border-color: var(--primary-color);
		box-shadow: none;
	}
}

.submit-button.submit-animation {
	animation: submit-animation 0.5s var(--default-timing-func) 0s;
}

.submit-button i {
	align-self: center;
	justify-self: center;
	text-align: center;
	display: block;
	margin: auto;
}

.fortune-cookie {
	--font-size: 18px;
	transition: top 1s var(--default-timing-func);
	animation: fortune-cookie-animation 1s var(--default-timing-func) 0s;
	display: block;
	position: fixed;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
}

.fortune-cookie-text {
	color: var(--primary-color);
	font: var(--primary-font);
	font-weight: 400;
	font-size: var(--font-size);
	text-align: center;
}

.fortune-cookie.shown {
	top: 90%;
}
