.clickable {
	cursor: pointer;
}

.underscore {
	--underscore-width: min(3ch, 33%);
	--underscore-height: max(2px, 0.1em);
	--underscore-color: var(--primary-color);
}

.underscore::after {
	content: "";
	display: block;
	position: relative;
	left: calc(50% - var(--underscore-width) / 2);
	width: var(--underscore-width);
	height: var(--underscore-height);
	background-color: var(--underscore-color);
	border-radius: 75vh;
}

.ceiling-underscore {
	--underscore-width: 100%;
	--underscore-height: max(2px, 0.1em);
}

.ceiling-underscore::after {
	content: "";
	display: block;
	position: relative;
	width: var(--underscore-width);
	left: calc(50% - var(--underscore-width) / 2);
	bottom: calc(1em + 5px);
	height: var(--underscore-height);
	background-color: var(--primary-color);
}

.text-link[data-link] {
	text-decoration: underline;
}

.text-link[data-link]:hover {
	color: var(--primary-color-hover);
}

.round-button {
	transition: transform 65ms var(--default-timing-func);
	display: flex;
	--button-size: 70px;
	outline: 0;
	min-width: var(--button-size);
	min-height: var(--button-size);
	max-width: var(--button-size);
	max-height: var(--button-size);
	border: 2px solid var(--primary-color);
	border-radius: 50%;
	font-size: calc(70px / 2.5);
}

.round-button:hover {
	transform: scale(1.2);
	filter: brightness(120%);
}

.round-button svg {
	align-self: center;
	justify-self: center;
	text-align: center;
	display: block;
	margin: auto;
}
