@import "./basic.css";

:root {
	background-color: var(--tertiary-bg-color);
}

:where(.underscore)::after {
	height: 4px;
}

.title {
	text-align: center;
	display: block;
	font-size: 30px;
	margin: auto;
	margin-top: 10px;
}
